@dark:#34495e;
@childDark:#bdc3c7;
@green: #1abc9c;
@colorWarning:#f1c40f;
*{
  box-sizing: border-box;
}
html,body{
  margin:0;
  height:100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: @dark;
}
a {
  color: #16a085;
  text-decoration: none;
  transition: 0.25s;
}
.chart-panel{
  height: 400px !important;
  width: 49% !important;
  margin: 2% 0 0;
  box-shadow: 0 6px 36px 0 rgba(0, 62, 100, 0.04);
  border: 1px solid #e5edf3;
  padding: 10px;
}
.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}